---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Astro + Figma">
  <main>
    <ul role="list" class="link-card-grid">
      <Card label="Lorem" />
      <Card label="Mand fundet i skov" />
      <Card label="Ipsum" />
      <Card label="Dollars" />
      <Card label="Documentation" />
      <Card label="Integrations" />
      <Card label="Themes" />
      <Card label="Community" />
    </ul>
  </main>
</Layout>

<style>
  main {
    padding: 2rem 0;
  }
  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    list-style-type: none;
  }
</style>
