---
const { label } = Astro.props;
---

<button>
  {label}
</button>

<style>
  button {
    background-color: var(--secondary--brand);
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
  }
</style>
