---
const { label } = Astro.props;
import Button from "./Button.astro";
---

<li class="link-card">
  <h2>
    {label}
  </h2>
  <Button label="YEAH!" />
  <style>
    li {
      padding: 1rem;
      box-shadow: var(--drop--shadow);
      border: 1px solid var(--stroke);
    }
  </style>
</li>
