<footer>
  <p>Made with ❤️ and Astro</p>
</footer>
<style>
  footer {
    background-color: var(--primary--brand);
    max-width: 700px;
    margin: auto;
  }
  footer p {
    padding: 1rem;
  }
</style>
