<nav>
  <ul>
    <li><a href="#">Hjem</a></li>
    <li><a href="#">Produkter</a></li>
    <li><a href="#">Om Os</a></li>
  </ul>
</nav>
<style>
  a {
    color: var(--black);
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
  }
  li:first-child {
    margin-right: auto;
  }
  nav {
    background-color: var(--primary--brand);
    max-width: 700px;
    margin: auto;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }
</style>
